.note{
  position: relative;
  padding-left: Max(15px, 3%);
  font-weight: 700;
}

.note::before{
  content:'';
  width: Max(5px, 1.3%);
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: linear-gradient(to bottom, #a14dff, #3d5cc2 29%, #2ece73 55%, #ffcc00 78%, #d60000);
}