
// Font
$mainFont                : 'Proxima Nova', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #333333;
$mainFontSize            : 27px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

//color
$bgdefault: #e8e8e8;
$fontHeader: #9e9e9e;



//Blok component
$screen_horizontal_mode: 90vh;
$screen_vertical_mode: 90vw;


//blockMainFont: 27
$headerFontSizeFirst: 2.6em;
$subheaderFontSizeFirst: 1.3em;



$headerFontSize: 1.3em;
$subheaderFontSize: 1em;
$notesFontSize: 0.9em;
$notesBigFontSize: 1.4em;

$titleHeaderSize: 1.48em;
$fontOfNumbers: 1.85em;
$fontOfStatList: 1.66em;


//Preloader
$preloaderTextAbout: 0.6em;




