

  .mobile__menu-container{
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    font-size: .5em;
  }

  .menu__container--menu{
    display: none;
    pointer-events: none;
  }

  .menu__container{
    margin-right: 0;
  }

  .mobile__menu{
    top: auto;
    bottom: 0;
    transform: translateY(calc(100% + 14px));
  }

  .img--button-bitbon {
    margin-top: -3px;
    margin-left: 5px;
    max-width: 20px;
  }

  .menu__button{
    display: flex;
    justify-content: center;
  }

  .like__continer{
    margin-bottom: 14px;
  }

  .like{
    cursor: pointer;
  }

  .like:hover{
    opacity: .9;
  }

  .like:active{
    opacity: .7;
  }

  .mobile__menu-container{
    height: auto;
  }

  .menu__button--bitbon{
    padding: 18.5px 0;
  }