$maxWidthforMobile: 768px;
$maxWidthforTablet: 992px;
$maxWidthforLaptop: 1200px;


@mixin mobile {
  @media (max-width: #{$maxWidthforMobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$maxWidthforMobile + 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$maxWidthforTablet +1px}) {
    @content;
  }
}

